<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Landing</title>
</head>

<body>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <a th:href="@{/login}">
                <button class="btn btn-secondary" id="login" name="login" type="button">Log in</button>
            </a>
        </div>

        <div class="col col-lg-2">
            <a th:href="@{/register}">
                <button class="btn btn-primary" id="register" name="register" type="submit">Sign up</button>
            </a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>
